<!-- NAVBAR -->

<div class="col-md-7">
    <nav class="navbar navbar-expand-lg navbar-transparent ">

      <a [routerLink]="'/home'" class="titulo"><strong>
          <img src="/assets/images/logonew.png" id="logo">
        </strong></a>
      <a class="navbar-brand" href="#"></a>

      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Cadastre-se
        </button>

        <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item " data-toggle="modal" data-target="#modalCadastro">Usuário</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" data-toggle="modal" data-target="#modalCadastroProfissional">Profissional</a>
        </div>
      </div>

      <button type="button" data-toggle="modal" data-target="#modalLogin" class="btn btn-outline-info">Entrar</button>

    </nav>
  </div>

  <!-- MODAL LOGIN -->

  <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="card-title text-center">
            Entrar
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" id="btnfecharLogin">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <div class="form-label-group">
              <label for="inputEmail">E-mail</label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de e-mail" required autofocus
                [(ngModel)]="emailLogin" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-label-group mt-3">
              <label for="inputPassword">Senha</label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Senha" [(ngModel)]="senhaLogin"
                [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="custom-control custom-checkbox mb-3 mt-3">
              <label class="custom-control-label " for="customCheck1">Lembrar-me</label>
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <br>
              <a href="#">Esqueceu a senha? Clique aqui</a>
            </div>
            <button class="btn btn-info btn-info btn-block text-uppercase" (click)="validaLogin();">Entrar</button>
            <hr class="my-4">
          </form>
        </div>

      </div>
    </div>
  </div>


   <!-- TEXTO BEM-VINDO HOME -->

   <div class="row d-flex justify-content-around">
    <div class="col-md-6 mx-auto">
      <h1 class="display-3">Bem-vindos à sua <br>
        plataforma de jornada autista</h1>
    </div>

    <div class="col-md-6 mx-auto ">
      <img src="../../assets/images/inclusao.png" id="cadeirante" title="imagem cadeira de rodas colorida"
        alt="imagem cadeira de rodas colorida">
    </div>
  </div>


  <!-- TEXTO SOBRE NÓS QUEM SOMOS -->


  <div class="row text-center" id="sobrenos">

    <div class="col-md-5">
      <img src="../../assets/images/sobrenos.jpg" id="deficientesfoto">
    </div>

    <div class="col-md-7">
      <h3 class="lead display-4 mb-4">Vida Autista</h3>

      <p> Uma plataforma no qual focamos em auxiliar as pessoas na sua jornada em busca do diagnostico de TEA, no qual iremos apontar profissionais e dicas para que nesse tempo de investigacao
        voces nao percam tempo com idas e vindas desnecessarias e com informacoes passadas de maneira incorreta, que muita das vezes e disseminada por profissionais mal informados e desatualizados, afinal de contas o tempo e o bem mais precioso para o desenvolvimento de qualquer crianca e principalmente do autista. Estamos
        nos dedicando para centralizar o passo a passo e orientacoes relacionadas a quais profissionais buscar, retornos aceitaveis ou busca de posicoes de outros profissionais e etc. Jornada elaborada por pessoas que ja passaram por essa fase de diagnostico e por profissionais especializados em comportamento (ABA), tudo isso para que o diagnostico seja assertivo e seu tempo valorizado.
         .</p>

    </div>
  </div>

  <div class="parallaxdois"></div>

  <!-- CARROUSEL NOSSO TIME QUEM SOMOS -->

  <h3 class="lead display-4 mb-4">Nosso Time </h3>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/Augusto.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/Felipe.png" alt="Second slide">
      </div>
     <!-- <div class="carousel-item">
        <img src="../../assets/images/leo.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/dani.png" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/.png" alt="Third slide">
      </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- TEXTO DA PÁGINA EMBAIXADORESS -->
  <div class="parallax"></div>
  <div class="container">
    <div class="row" id="embaixadores">
      <div class="col-md-6">
        <div class="card-body" id="texto">

          <h2 class="acessibilidade display-4  p-0 mb-4">Nossas Inspirações</h2> <br>
          <p class="acessibilidade"> Para viabilizar a criação do nosso projeto buscamos opiniões e informações diversas.
            Devido a certas facilitacoes e experiencias internas de membros do grupo, tivemos acesso a diversos impasses que a comunidade
            autista enfrenta ao longo de sua jornada em busca do diagnostico, tais como: A falta do diagnostico, orientacoes improprias, tratamentos inadequados e etc, isso nos dispertou um interesse em tentar ajudar
            a facilitar esse processo pra comunidade do espectro autista.
            Conhecer a realidade vivenciada pelos autistas e pessoas que acompanham os mesmos que na grande maioria sao menores de idade foi o primeiro passo para idealizacao e formalizacao
            das nossas ideias em relacao as funcionalidades da plataforma.
            Aos entrevistados John Muller e Jacqueline Marques, psicologos especializados em comportamento e profissionais experientes e atuantes na intervencao terapeutica em autistas
            e ao Augusto Barbosa nosso integrante do grupo e tambem pai do Heitor Barbosa, seu filho autista no qual a vivencia deles juntamente com a esposa Isabella Barbosa, nos motivou e cativou com a ideia do projeto, para todos, os nossos
            sinceros agradecimentos pela colaboracao e pelo apoio imensuravel ao projeto.</p>

        </div>
      </div>

      <div class="coll-md-6">
        <div class="embed-responsive embed-responsive-16by9 video">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/s4BlYqg2Z78" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>



  <!-- FOOTER -->

  <hr>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <strong>Vida Autista&reg;</strong>2022
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mb-3">
        <a class="nav-link mr-1 m-0 p-0" [routerLink]="'/contato'">Contato</a><strong>|</strong>
        <a class="nav-link ml-1 m-0 p-0" [routerLink]="'/faq'">Ajuda</a>
    </div>
  </div>


  <!-- MODAL CADASTRO USUARIO -->

  <div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="card-title text-center">
            Cadastre-se
          </h5>
          <button type="button " class="close" data-dismiss="modal" aria-label="Fechar" id="btnFecharUsuario">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <div class="form-label-group">
              <label for="inputNome">Nome Completo</label>
              <input type="nome" id="inputnome" class="form-control" [(ngModel)]="nomeCompleto"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu nome completo" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputEmail">E-mail</label>
              <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu e-mail" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputTelefone">Telefone</label>
              <input type="number" id="inputTelefone" class="form-control" [(ngModel)]="telefone"
                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu telefone" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroTelefone'>{{_msgErroTelefone}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputPassword">Senha</label>
              <input type="password" id="inputPassword" class="form-control" [(ngModel)]="senha"
                [ngModelOptions]="{standalone: true}" placeholder="Digite a sua senha (minimo de 10 caracteres)"
                (keypress)="forcaSenha();" (keyup)="forcaSenha();" required data-toggle="tooltip"
                title="Para a senha ser forte digite ao menos 10 dígitos e um caracter especial (@, %, #, &, $)">

              <span id="spanSenhaFraca" *ngIf='_msgSenhaFraca'>{{_msgSenhaFraca}}</span>
              <span id="spanSenhaForte" *ngIf='_msgSenhaForte'>{{_msgSenhaForte}}</span>
            </div>

            <div class="form-label-group mt-3">
              <label for="inputPassword">Confirme a senha</label>
              <input type="password" id="inputPassword" class="form-control" [(ngModel)]="senhaRepetida"
                [ngModelOptions]="{standalone: true}" placeholder="Repita a sua senha" required>
              <span id="spanPadrao" *ngIf='_msgSenha'>{{_msgSenha}}</span>

            </div>

            <button class="btn btn-info btn-primary btn-block text-uppercase mt-4" (click)="valida();">Cadastrar</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL CADASTRO PROFISSIONAL -->

  <div class="modal fade" id="modalCadastroProfissional" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="card-title text-center">
            Cadastre-se
          </h5>
          <button type="button " class="close" data-dismiss="modal" aria-label="Fechar" id="btnFecharEmpresa">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-signin">
            <div class="form-label-group">
              <label for="inputnomeprofissional">Nome Completo</label>
              <input type="nome" id="inputnomeprofissional" class="form-control" [(ngModel)]="nomeCompletoProfissional"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu nome completo" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroNome'>{{_msgErroNome}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputEmailprofissional">E-mail</label>
              <input type="email" id="inputEmailprofissional" class="form-control" [(ngModel)]="email"
                [ngModelOptions]="{standalone: true}" placeholder="Digite seu e-mail" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroEmail'>{{_msgErroEmail}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputTelefoneprofissional">Telefone</label>
              <input type="number" id="inputTelefoneprofissional" class="form-control" [(ngModel)]="telefone"
                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu telefone" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroTelefone'>{{_msgErroTelefone}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputDocumentoprofissional">Documento de Identificação</label>
              <input type="number" id="inputDocumentoprofissional" class="form-control" [(ngModel)]="documento"
                [ngModelOptions]="{standalone: true}" placeholder="Digite o seu documento" required autofocus>
              <span id="spanPadrao" *ngIf='_msgErroDocumento'>{{_msgErroDocumento}}</span>
            </div>
            <div class="form-label-group mt-3">
              <label for="inputPasswordprofissional">Senha</label>
              <input type="password" id="inputPasswordprofissional" class="form-control" [(ngModel)]="senha"
                [ngModelOptions]="{standalone: true}" placeholder="Digite a sua senha (minimo de 10 caracteres)"
                (keypress)="forcaSenha();" (keyup)="forcaSenha();" required data-toggle="tooltip"
                title="Para a senha ser forte digite ao menos 10 dígitos e um caracter especial (@, %, #, &, $)">

              <span id="spanSenhaFraca" *ngIf='_msgSenhaFraca'>{{_msgSenhaFraca}}</span>
              <span id="spanSenhaForte" *ngIf='_msgSenhaForte'>{{_msgSenhaForte}}</span>
            </div>

            <div class="form-label-group mt-3">
              <label for="inputPasswordprofissional">Confirme a senha</label>
              <input type="password" id="inputPasswordprofissional" class="form-control" [(ngModel)]="senhaRepetida"
                [ngModelOptions]="{standalone: true}" placeholder="Repita a sua senha" required>
              <span id="spanPadrao" *ngIf='_msgSenha'>{{_msgSenha}}</span>

            </div>

            <button class="btn btn-info btn-primary btn-block text-uppercase mt-4" (click)="validaProfissional();">Cadastrar</button>
            <hr class="my-4">
          </form>
        </div>
      </div>
    </div>



